<section class="brand-logo section pt-0">
    <div class="container">
      <div class="brand-logo-slider" data-aos="fade-up" data-aos-duration="1500">
        <img class="brand-logo-img img-fluid" src="images/exact-logo.svg" alt="img">
        <img class="brand-logo-img img-fluid" src="images/ikea-logo.svg" alt="img">
        <img class="brand-logo-img img-fluid" src="images/Pfizer.svg.png" alt="img">
        <img class="brand-logo-img img-fluid" src="images/OCS.png" alt="img">
        <img class="brand-logo-img img-fluid" src="images/Qbranch_Axians.png" alt="img">
        <img class="brand-logo-img img-fluid" src="images/ibm.svg" alt="img">
      </div>
    </div>
    </div>
    </div>
  </section>