<footer>
    <div class="footer-top section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto text-center">
            <h2 class="text-primary h4 fw-bold mb-md-5 mb-3">Ready To Rock The World?</h2>
            <p class="mb-2">Contact Me</p>
            <a href="#" class="mb-3 h6 text-tertiary d-block">uschi@wct-consulting.services</a>
            <a class="mb-lg-4 mb-3 d-inline-block text-dark" href="#">+880 (308) 555-0121</a>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Whatsapp</a></li>
              <li class="list-inline-item"><a href="#">Facebook</a></li>
              <li class="list-inline-item"><a href="#">Instagram</a></li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Sweden</a></li>
              <li class="list-inline-item"><a href="#">Austria</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-center py-md-5 py-4 mb-0 border-top">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="mb-0">Content & Design by <a rel="nofollow" href="https://wctconsulting.github.io"
                target="blank">Work Clever Together Europe AB
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>