---
---
<!DOCTYPE html>
<html lang="en">
{% include "head.liquid" %}
<title>Work Clever Together Consulting Services</title>

<body>

  <div class="preloader">
    <div class="dots dot1">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <!--================== Header Section Start ==================-->
  {% include "header.liquid" %}
  <!--================== Header Section End ==================-->

  <!--================== Project Section Start ==================-->
  <section class="section">
    <div class="container">
      <div class="row g-4 align-items-center">

        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Software Distribution Support</h2>
            <p>https://wctconsulting.github.io/INFRA_Bring.html</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> <b>This page contains a teaser text for the different assignments within the category. I tis only a text
            which fits into the room of the picture. No Categories like Deliverables, etc. Just a plain teaser
            text.</b> I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>


        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Service Provider IT Infrastructure </h2>
            <p>https://wctconsulting.github.io/INFRA_Service.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>







        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">File Share Migration</h2>
            <p>https://wctconsulting.github.io/INFRA_Fileshare.html</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> <b>This page contains a teaser text for the different assignments within the category. I tis only a text
              which fits into the room of the picture. No Categories like Deliverables, etc. Just a plain teaser
              text.</b>
            I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>








        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Active Directory Deployment</h2>
            <p>https://wctconsulting.github.io/INFRA_Lequa.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>


        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Deployment/Update Ms Office 2010 & F-secure</h2>
            <p>https://wctconsulting.github.io/INFRA_Capish.html</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> NOTE: Rewrite deliverables. I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>








        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Database MIgration SQL 2000 to 2005</h2>
            <p>https://wctconsulting.github.io/INFRA_SQL_SBS.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>


        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">AD & Infrastructure MIgration</h2>
            <p>https://wctconsulting.github.io/INFRA_AD_Migration.html</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> NOTE: Rewrite deliverables. I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>








        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Outdoor Webcam for Store establishment</h2>
            <p>https://wctconsulting.github.io/INFRA_Webcam.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>


        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">System Upgrade os2/NT 40 TS</h2>
            <p>https://wctconsulting.github.io/INFRA_OS2_NT4.html/p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> NOTE: Rewrite deliverables. I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>








        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Windows NT Standardisation & Consolidation</h2>
            <p>https://wctconsulting.github.io/INFRA_NT%20Standardisation.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>


        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Command Post/Patrol Administatrion</h2>
            <p>https://wctconsulting.github.io/INFRA_CommandPost.html</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> NOTE: Rewrite deliverables. I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>








        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Year 200 Problem - Millenium Bug</h2>
            <p>https://wctconsulting.github.io/INFRA_Y2K.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>


<div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Rollout Common Standard Platform Asia/Europe</h2>
            <p>https://wctconsulting.github.io/INFRA_ICC2Rollout.html</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> NOTE: Rewrite deliverables. I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>








        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">System Upgrade NT 3.51 to NT40</h2>
            <p>https://wctconsulting.github.io/INFRA_ICC1Rollout.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>







        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">System Upgrade OS2/NT 3.51</h2>
            <p>https://wctconsulting.github.io/project-single-alt.html</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> NOTE: Rewrite deliverables. I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>








        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Infrastructure UPgrade - Federal Tax & Custom Offices</h2>
            <p>https://wctconsulting.github.io/INFRA_FED.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>



















































      </div>
    </div>
  </section>
  <!--================== Project Section End ==================-->



  <div class="backtotop">
    <i class="fas fa-angle-up"></i>
  </div>
  <!--================== Footer Section Start ==================-->
  {% include "footer.liquid" %}
  <!--================== Footer Section End ==================-->
  <!-- jQuery -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="plugins/bootstrap/bootstrap.bundle.min.js"></script>
  <!-- slick-slider-->
  <script src="plugins/slick/slick.min.js"></script>
  <!-- aos -->
  <script src="plugins/aos/aos.js"></script>
  <!-- isotope -->
  <script src="plugins/shuffle/shuffle.js"></script>
  <!-- Main Script -->
  <script src="js/script.js"></script>

</body>

</html>