---
---
<!DOCTYPE html>
<html lang="en">
{% include "head.liquid" %}
<title>Work Clever Together Consulting Services</title>

<body>

  <div class="preloader">
    <div class="dots dot1">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <!--================== Header Section Start ==================-->
  {% include "header.liquid" %}
  <!--================== Header Section End ==================-->

  <!--================== Project Section Start ==================-->
  <section class="section">
    <div class="container">
      <div class="row g-4 align-items-center">

        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">IT Security (Audit and Analysis)</h2>
            <p>https://wctconsulting.github.io/BA-Trading.html</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> <b>This page contains a teaser text for the different assignments within the category. I tis only a text
              which fits into the room of the picture. No Categories like Deliverables, etc. Just a plain teaser
              text.</b> I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Discover More</a>
        </div>




      </div>
    </div>
  </section>
  <!--================== Project Section End ==================-->



  <div class="backtotop">
    <i class="fas fa-angle-up"></i>
  </div>
  <!--================== Footer Section Start ==================-->
  {% include "footer.liquid" %}
  <!--================== Footer Section End ==================-->
  <!-- jQuery -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="plugins/bootstrap/bootstrap.bundle.min.js"></script>
  <!-- slick-slider-->
  <script src="plugins/slick/slick.min.js"></script>
  <!-- aos -->
  <script src="plugins/aos/aos.js"></script>
  <!-- isotope -->
  <script src="plugins/shuffle/shuffle.js"></script>
  <!-- Main Script -->
  <script src="js/script.js"></script>

</body>

</html>