---
---
<!DOCTYPE html>
<html lang="en">
{% include "head.liquid" %}
<title>Work Clever Together Consulting Services</title>

<body>

  <div class="preloader">
    <div class="dots dot1">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <!--================== Header Section Start ==================-->
  {% include "header.liquid" %}
  <!--================== Header Section End ==================-->

  <!--================== Project Section Start ==================-->
  <section class="section">
    <div class="container">
      <div class="row g-4 align-items-center">

        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Customer Fulfilment Backbone</h2>
            <p>https://wctconsulting.github.io/PM_CFB.html</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p>  <b>This page contains a teaser text for the different assignments within the category. </b>  I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>








        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Windows 10 Rollout Planning</h2>
            <p>https://wctconsulting.github.io/PM_Windows%2010.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>




        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Windows 7 Rollout Planning</h2>
            <p>https://wctconsulting.github.io/PM_Win7_ROP.html</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> NOTE: Rewrite deliverables. I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>








        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Rollout Apple Computer</h2>
            <p>https://wctconsulting.github.io/PM_MAC.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>


        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Windows XP Rollout</h2>
            <p>https://wctconsulting.github.io/PM_WinXP.html</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> NOTE: Rewrite deliverables. I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>




        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Office 2013 LCM</h2>
            <p>https://wctconsulting.github.io/PM_Office2013.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>


        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Printing Services</h2>
            <p>https://wctconsulting.github.io/PM_Printing.html</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> NOTE: Rewrite deliverables. I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>




        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">SQL2000/SQL2005 LCM</h2>
            <p>https://wctconsulting.github.io/PM_SQL2000.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>


        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">Text</h2>
            <p>Text</p>
            <p></p>
          </div>

          <h4 class="mb-2">Deliverables</h4>
          <p> NOTE: Rewrite deliverables. I analyzed and documented sales-related functions in the MHS system,
            identified suitable systems for these
            functions, and translated them into workflows in systems like Return & Recovery and Payments.
            The workflows were adapted to comply with rules and guidelines, serving as a basis for transformation. The
            work contributed to Change Management & Communication across <b>40+ countries</b> and <b>400+ stores
              worldwide</b>.
            As I joined the program late, my main focus was on analyzing the "Sales Adjustments" screen removal and new
            stock structure in MHS. </p>

          <h4 class="mb-2">Technology</h4>
          <p> Retail System MHS, Payment System, Return & Recovery, Reporting, Clearquest, Clearcase, Cognos </p>

          <!-- <h4 class="mb-2">Categories </h4>
        <p>Business Analysis</p> -->

          <h4 class="mb-2">Role </h4>
          <p>Senior Business Analyst (April - December 2018)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>

        <div class="col-lg-6 ps-lg-5">
          <div class="mb-4">
            <h2 class="text-capitalize mb-3 h3">LCM Windows 2003 Server </h2>
            <p>https://wctconsulting.github.io/PM-server2003.html</p>
            <p>
              Analyze and present a data integration and office 356 consolidation model to efficiently share documents
              between the customer internally and their respective customers.
              Analyse and explain Office 365 licensing models to consolidate the current Office 356 subscriptions to one
              subscription suitable for the company with 10 users.
              Prepare for consolidation of two office 356 tenants to one commonly used tenant.
            </p>
          </div>
          <h4 class="mb-2">Deliverables </h4>
          <p>Analyse most common of-the-shelf solutions available for collaboration
            Evaluation and presentation of different possible file sharing combinations and packages
            Evaluation of license costs and benefits
            Analyze best solutions for consolidation of tenants</p>
          <h4 class="mb-2">Technology</h4>
          <p> Office 365, Sharepoint Online, Dropbox for Business, Box for Business </p>


          <h4 class="mb-2">Role </h4>
          <p>Business Analyst (October - December 2017)</p>

          <a href="#" class="text-capitalize btn btn-outline-primary px-4 py-2">Portfolio Link</a>
        </div>
        <div class="col-lg-6">
          <img src="images/project-img-two.png" alt="portfolio" class="img-fluid">
        </div>



        




      </div>
    </div>
  </section>
  <!--================== Project Section End ==================-->



  <div class="backtotop">
    <i class="fas fa-angle-up"></i>
  </div>
  <!--================== Footer Section Start ==================-->
  {% include "footer.liquid" %}
  <!--================== Footer Section End ==================-->
  <!-- jQuery -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="plugins/bootstrap/bootstrap.bundle.min.js"></script>
  <!-- slick-slider-->
  <script src="plugins/slick/slick.min.js"></script>
  <!-- aos -->
  <script src="plugins/aos/aos.js"></script>
  <!-- isotope -->
  <script src="plugins/shuffle/shuffle.js"></script>
  <!-- Main Script -->
  <script src="js/script.js"></script>

</body>

</html>